section#about
  div.row-fluid
    div.socialnetworks
      div.socialicons
        a.twitter(href="https://twitter.com/nrako",title="Follow me") t
        a.googleplus(href="https://plus.google.com/113337133777003482445",title="Plus me", data-ttip='#gplustip') g
          sup +
        a.linkedin(href="http://ch.linkedin.com/in/nrako",title="Connect me") l
        a.skype(href="skype:nrako.com?call",title="Call me", data-ttip='#skypetip') s
        //
          a.delicious(href="http://www.delicious.com/nrako",title="Bookmark me") c
            span.tl
            span.tr
            span.bl
        a.github(href="https://github.com/nrako",title="Fork me") G
        a.tumblr(href="http://nrako.tumblr.com/",title="Read me") T
        // a.facebook(href="https://www.facebook.com/nicolas.rakoto",title="Like me") F
        // TODO find an icon a.stackoverflow

        //
        //  div#skypetip.ttip
        //    a(href="skype:nrako.com?call")
        //      //img(src="http://mystatus.skype.com/balloon/nrako%2Ecom", style="border: none;", width="150", height="60", alt="Mon statut")
        //    br
        //    a(href="http://www.skype.com/go/download") Get Skype
        //    |  and call me for free
        //
        //  div#gplustip.ttip
        //    div.g-plus(data-href="https://plus.google.com/113337133777003482445?rel=publisher", data-width="120", data-height="131", data-theme="light")