extends layouts/default

block content
  section#home
    div.hero-unit
      h1 Nicolas Rakotomihamina
      p Web Developer in Switzerland and all arround the web...

  include about
  include contact