pages = [{url:'#home', name: 'Home'},{url:'#about', name: 'About'},{url:'#contact', name: 'Contact'}]
//{url:'#resume', name: 'Resume'},{url:'www.tumblr.com', name:'Found'},{url:'/projects', name: 'Projects'},

div.navbar.navbar-fixed-top#navbar
  div.navbar-inner
    div.container-fluid
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="#home") nrako
      div.nav-collapse
        ul.nav
          each page in pages
            if (page.url == path)
              li.active
                a(href=page.url)= page.name
            else
              li
                a(href=page.url)= page.name