extends layout

block header
  header
    h1 Nicholas Rakotomihamina - Resume
    h2 Let's start with
      a(href="https://ch.linkedin.com/in/nrako")
        span.icon-linkedin
        | Linkedin
      |  would you?
