section#about
  div.page-header
    h1 About

  div.row-fluid
    div.span8
      h3 Who am I?
      p I am just a guy who learn a lot of Web development tricks and intend to make good use of that knowledge.
      h3 What is this?
      p 
        | Not so much right now, it's just my playground where I quickly experiment some dev. I'll improve it with time.
        | But if you are curious all the code is available on
        a(href="https://github.com/nrako/nrako.com") github.com/nrako/nrako.com

    div.span4.socialnetworks
      h3 Find me there too
      
      a.twitter-follow-button(href="https://twitter.com/nrako",data-show-count="false",data-size="large") Follow @nrako
      br
      br
      a(href="http://ch.linkedin.com/in/nrako")
        img(src="http://www.linkedin.com/img/webpromo/btn_viewmy_120x33.png?locale=",width="120",height="33",border="0",alt="View Nicolas Rakotomihamina's profile on LinkedIn")
        //img(src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33_fr_FR.png?locale=",width="160",height="33",border="0",alt="View Nicolas Rakotomihamina's profile on LinkedIn")
      br
      br
      //
        div.g-plus(data-href="https://plus.google.  com/113337133777003482445?rel=publisher",data-width="120",data-height="131",data-theme="light")
